<h2>News Accepting</h2>
<br>
<form class="form-inline my-2">
    <input class="form-control mr-sm-2 " type="search" placeholder="Search" [(ngModel)]="searchChar" (keyup)="search()" [ngModelOptions]="{standalone: true}">
    <button class=" btn btn-outline-success my-2 mr-sm-2" type="submit " (click)="search() ">Search</button>
    <button class="btn btn-secondary my-2" (click)="onReset()" *ngIf="isSearch">Cancel</button>
</form>
<br>
<table class="table table-striped flex-column mx-auto">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let news of listNews">
            <th scope="row"> {{news.id}} </th>
            <td>{{news.author}}</td>
            <td>{{news.title}}</td>
            <td>
                <div class="btn-group mx-auto" style="margin-right: 0;">
                    <button class="btn btn-outline-primary btn-sm" (click)="onOpenNewsDetailDialog(news)">Detail</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="onAccept(news)">Accept</button>
                    <button class="btn btn-outline-danger" (click)="onDeny()">Deny</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation example" style="margin-top: 30px;">
    <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{'disabled': currentPage <= 1}">
            <a class="page-link" tabindex="-1" aria-disabled="true" (click)="loadPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pageDisplay" [ngClass]="{'disabled': currentPage == page}">
            <a class="page-link" tabindex="0" (click)="loadPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': currentPage >= pageCount}">
            <a class=" page-link " tabindex="+1" (click)="loadPage(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>